body {
    font-family: Arial, sans-serif;
    background-color: #16181c;
    color: #fff;
    
}


a{
    cursor: pointer;
}

.header-main{
    /*width: 100dvw;*/
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    z-index: 1000;
    
}

.header-main-logo{
    
    padding: 0 0 0 40px;
    
    
}

.header-main-logo img{
    height: 60px;
}

.header-main-nav{
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;

}

.header-main-nav ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    list-style: none;
}

.header-main-nav ul li{
    line-height: 60px;
}
   
.header-main-nav ul li a{
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    
}

.about{
    width: 100%;
    height: 60px;
    background-color: #423636;
    color:#fff;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 120px 0 0 0;
}

.co{
    padding: 0 0 0 40px ;
}

html::-webkit-scrollbar {
    width: 0.5vw;
    
  }

  html::-webkit-scrollbar-thumb {
    background-color: #7775;
    border-radius: 5px;
  }

  html::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }

 
  html::-webkit-scrollbar-track {
    background-color: #5555;
  }

  /*              */
.side-bar{
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 30%;
  height: 90%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  transform: translateX(-100%);
}


#open{
    transform: translateX(0);
}
.side-bar .close{
    
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
      
}

.side-bar .close:hover {
    color: indianred;
    border-color: indianred;
}

.side-bar a{
    color: #eee;
  text-decoration: none;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
  transition: 0.5s;
}
.side-bar a:hover{
    background-color: rgb(0 0 0 / 50%);
}

.bars:hover{
  opacity:0.5;
  cursor: pointer;
}